# these over-ride the main and desdm config files
stars_minsgmag =	10	# The min mag for initial selection
stars_maxsgmag =	15	# The max mag for initial selection

# These are for the SExtractor mags with wrong zeropoint
stars_minmag =		10	# The min magnitude to consider
stars_maxmag =		16	# The max magnitude to consider
stars_maxoutmag =	15	# The max magnitude to include in output
